// bower:scss
// endbower
// Target / Context(or parent) = Fluid Size in percentage or ems

// IMPORTS
@import "compass/utilities/general/clearfix";

// COLOURS


// MIXINS
@mixin padmarfix {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-before: 0;
  -webkit-padding-after: 0;
  -webkit-padding-start: 0px;
  -webkit-padding-end: 0px;
}

// SIZES

html {
  font-size: 16px;
}

body {
//  font-size: 62.5%; /*10px/16px = 62.5%*/
  width: 100%;
  // background-color: blue;
}

header {
  background-color: #3c3c3c;
  @include clearfix();
  aside {
    float: left;
  }
  nav {
    float: right;
  }
}

// hero
.hero{
  width: 100%;
  img{
    width:100%;
    float:left;
  }
}
.hero-container-list {
  // This negates the margin that normalize creates for ul elements
  @include padmarfix();
  li{
    display: none;
    h1{
      position: absolute;
      top: 10%;
      left: 15%;
      border:#cccccc solid 3px;
    }
  }
  .active {
    display:block;
  }
  @include clearfix();
}

// header
.header-names {
  text-align: center;
  padding:1%;
}

.navbar-nav {
  li{
    display: inline;
  }
}
