// bower:scss
// endbower

// Target / Context(or parent) = Fluid Size in percentage or ems

// IMPORTS
@import "compass/utilities/general/clearfix";

// COLOURS
$lightGray: #cccccc;
$lighterGray: #cfcfcf;
$navbarGray: #3c3c3c;
$mediumGray: #999999;
$darkGray: #666666;
$darkerGray: #333333;
$transparentWhite: rgba(255,255,255,0.4);
$lightBlue: #99FFFF;
$lightGreen: #ACD373;

// MIXINS
@mixin padmarfix {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-before: 0;
  -webkit-padding-after: 0;
  -webkit-padding-start: 0px;
  -webkit-padding-end: 0px;
}

// SIZES

html {
  font-size: 16px;
}

body {
//  font-size: 62.5%; /*10px/16px = 62.5%*/
  width: 100%;
  // background-color: blue;
}

.content {
  width: 90%;
  margin: auto;
}
// hero
@import "directives/hero";

// navbar
@import "directives/nav";

// footer
@import "partials/footer";

// wedphotos
.wed-photos {
  width: 95%;
  margin: auto;
  nav {
    @include clearfix();
  }
  h2 {
    float: left;
  }
  ul {
    list-style-type: none;
    float: right;
  }
  li {
    display: inline-block;
    margin: 0 2em;
    padding: .5em;
    &.active {
      border: $lightBlue solid 2px;
      a {
        color: $mediumGray;
      }
    }
  }
  a {
    text-decoration: none;
    color: $lightGreen;
    &:hover {
      color: $mediumGray;
    }
  }
}

.photo-box {
  a {
    height: 100px;
    width: 100px;
  }
}

.photo-frame {
  height: 100px;
  width: 100px;
  overflow: hidden;
  border: $darkGray solid 2px;
  img {
    display: block;
    margin: 0 auto;
  }
}
