// bower:scss
// endbower

// Target / Context(or parent) = Fluid Size in percentage or ems

// IMPORTS
@import "compass/utilities/general/clearfix";
@import "compass/css3/border-radius";

// COLOURS
$lightGray: #cccccc;
$lighterGray: #cfcfcf;
$navbarGray: rgba(80,78,77,1);
$mediumGray: #999999;
$darkGray: #666666;
$darkerGray: #333333;
$transparentWhite: rgba(255,255,255,0.4);
$transparentGray: rgba(100,100,100,0.4);
$lightBlue: rgba(116,175,194,1);
$lightGreen: rgba(159,212,177,1);

// MIXINS
@mixin padmarfix {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-before: 0;
  -webkit-padding-after: 0;
  -webkit-padding-start: 0px;
  -webkit-padding-end: 0px;
}

// SIZES

html {
  font-size: 16px;
}

body {
//  font-size: 62.5%; /*10px/16px = 62.5%*/
  width: 100%;
  // background-color: blue;
}

a {
  text-decoration: none;
}

// hero
@import "directives/hero";

// navbar
@import "directives/nav";

// footer
@import "partials/footer";

// wedphotos
@import "directives/wedphotos";

// us
@import "partials/us";

// details


// rsvp


// proposal
