.details {
  background-color: $lightGreen;
  // margin: -1.3125em 0 -1.25em; // -21px -20px
}

// .details-when {
//   width: 58em;
//   margin: 0 auto;
//   aside {
//     display: inline-block;
//     width: 18.75em;
//   }
//   article {
//     display: inline-block;
//     width: 36em;
//   }
// }

.map {
  height: 10em;
  margin: 0 -15px 0 -15px
}

.details {
  h1, h2 {
    font-family: $fontTitle;
  }

  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2em;
  }
}

.details-clothes-container {
  // @include clearfix();
  img {
    // float: left;
    // width: 10em;
    margin-bottom: 1em;
    position: relative;
    top: 0;
    @include transition-property(top);
    @include transition-duration(.2s);
  }
  img:hover {
    top: -1em;
  }
}

#reception-map, #ceremony-map {
  height: 100%;
  width: 100%;
}

@media screen and (min-height: 600px) {
  .map {
    height: 31.25em;
  }
}
