footer {
  background-color: $navbarGray;
  section {
    display: inline-block;
    width: 33%;
  }
}

.footer {
    width: 90%;
    margin: auto;
    color: $lightBlue;
    span {
      margin-left: 0.25em;
    }
}

.footer-nav {
  list-style-type: none;
  a {
    color: $lightGreen;
    &:hover {
      color: $lightBlue;
    }
  }
}

.rings {
  height: 80px;
  width: 100px;
  background-repeat: no-repeat;
  background-image: url(/images/footer/rings.png);
  background-position-y: 1em;
  background-position-x: center;
  margin: auto;
}

.mini-groom {
  width: 18px;
  height: 40px;
  background-image: url(/images/footer/groom.png);
  background-repeat: no-repeat;
  display: inline-block;
  background-position-y: 2px;
  margin-left: 15%;
}
