// for main
.the-couple {
  background-color: $lightGreen;
  // margin-top: 1em;
  // article {
  //   display: inline-block;
  //   width: 49%;
  // }
  figure {
    margin: 1.5em auto 0;
    @include border-radius(15px);
    width: 24.125em;
    height: 24.125em;
    border: $lightBlue solid 0.5em;
  }
  figcaption {
    text-align: center;
    margin-bottom: 1em;
    font-weight: bold;
    span {
      font-weight: normal;
      font-style: italic;
      font-family: $fontSerif;
    }
  }
}

// .bio {
//   width: 80%;
//   margin: 0 auto;
// }

.bio-image {
  background: center center no-repeat;
  margin: 2em;
  &.him {
    background-image: url(/images/us/dino.png);
    width: 215px;
    height: 178px;
    margin-left: 40%;
    margin-top: -5em;
  }
  &.her {
    background-image: url(/images/us/peng.png);
    width: 238px;
    height: 196px;
  }
}

// .align-right {
//   text-align: right;
// }

@media screen and (min-width: $break-medium) {
  .content.ng-scope figure{
    @include animation(scale .5s);
  }
}
