.hero{
  width: 100%;
  img{
    width:100%;
    float:left;
  }
}

.hero-container-list {
  // This negates the margin that normalize creates for ul elements
  @include padmarfix();
  li{
    display: none;
    h1{
      position: absolute;
      padding: 0.3em;
      border:$lighterGray solid 3px;
      color: white;
      background-color: $transparentGray;
      font-size: 2em;
    }
  }
  .active {
    display:block;
  }
  @include clearfix();
}

#hero-couple {
  top: 10%;
  left: 15%;
}

#hero-details {
top: 10%;
left: 25%;
}

#hero-rsvp {
top: 10%;
left: 65%;
}

#hero-proposal {
  top: 10%;
  left: 65%;
  background-color: $transparentWhite;
  color: $darkGray;
}

@media screen and (max-width: $break-small){
  .hero-container-list {
    h1 {
      font-size: 0.125em;
    }
  }
}
