.hero{
  width: 100%;
  img{
    width:100%;
    // float:left;
  }
}

.hero-container-list {
  // This negates the margin that normalize creates for ul elements
  @include padmarfix();
  li{
    display: none;
  }
  h1{
    @include padmarfix();
    position: absolute;
    padding: 0.3em;
    border:$lighterGray solid 3px;
    color: white;
    background-color: $transparentGray;
    font-size: 3em;
    top: 1em;
    right: 1em;
  }
  .active {
    display:block;
  }
  @include clearfix();
}

#hero-proposal {
  background-color: $transparentWhite;
  color: $darkGray;
}

@media screen and (min-width: $break-large){
  .hero-container-list {
    h1 {
      font-size: 4em;
      top: 2.5em;
      right: 2.5em;
    }
  }
  #hero-couple {
    top: 1em;
    right: 1em;
  }
  #hero-proposal {
    top: 1em;
    right: 1em;
  }
}

@media screen and (max-width: $break-big){
  .hero-container-list {
    h1 {
      font-size: 2em;
      top: 1.5em;
      right: 1.5em;
    }
  }
}

@media screen and (max-width: $break-medium) {
  .hero-container-list {
    h1 {
      font-size: 1.5em;
      top: 1em;
      right: 1em;
    }
  }
}

@media screen and (max-width: $break-small){
  .hero-container-list {
    h1 {
      font-size: 1em;
    }
  }
}
