main>header {
  background-color: $navbarGray;
  color: white;
  // @include clearfix();
  // aside {
  //   float: left;
  // }
  // nav {
  //   float: right;
  // }
}
header>div.row {
  padding:1em;
}
.header-names {
  font-size: 1.25em;
  text-align: center;
  p {
    margin: .25em 0;
  }
}
// Navigation List
.navbar-nav {
  @include padmarfix();
  margin-top: 4.5em;
  float: right;
  li{
    text-align: right;
    display: inline;
    margin-right: 1em;
    margin-left: 1em;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    a {
      font-weight: bold;
      color: white;
      &:hover {
        color: $lightGray;
      }
      &.current {
        color: $lightBlue;
        text-decoration: underline;
      }
    }
  }
}
.navbar-collapse-button {
  display:none;
}

@media screen and (max-width: $break-medium) {
  .navbar-collapse-button {
    display: inline-block;
  }
  .navbar-nav {
    display: none;
    float: none;
    &.open {
      display: block;
      li {
        text-align:left;
        display: block;
        margin: 0 auto;
      }
    }
  }
}
