main>header {
  background-color: $navbarGray;
  color: white;
  // @include clearfix();
  // aside {
  //   float: left;
  // }
  // nav {
  //   float: right;
  // }
  &>.row {
    padding: 1em;
  }
}

.header-names {
  text-align: center;
  line-height: normal;
  // padding:1em;
  p {
    @include padmarfix();
    font-size: 2em;
    font-family: $fontScript;
  }
}
// Navigation List
.navbar-nav {
  @include padmarfix();
  margin-top: 5.3em;
  float: right;
  // padding-bottom: 1em;
  li{
    text-align: right;
    display: inline;
    margin-right: 1em;
    margin-left: 1em;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    a {
      font-weight: bold;
      color: white;
      &:hover {
        color: $lightGray;
      }
      &.current {
        color: $lightBlue;
        text-decoration: underline;
      }
    }
  }
}
.navbar-collapse-button {
  display:none;
}

.wedding-countdown {
  position: absolute;
  top: -21em;
  left: 16em;
}
@media screen and (max-width: $break-big) {
  .wedding-countdown {
    display: none;
  }
  .navbar-nav {
    margin-top: 0.5em;
  }
}
@media screen and (max-width: $break-medium) {
  .navbar-collapse-button {
    display: inline-block;
  }
  .navbar-nav {
    display: none;
    float: none;
    &.open {
      display: block;
      li {
        text-align:left;
        display: block;
        margin: 0;
      }
    }
  }
}
