.wed-photos {
  width: 95%;
  margin: auto;
  nav {
    @include clearfix();
  }
  h2 {
    float: left;
  }
  ul {
    list-style-type: none;
    float: right;
  }
  li {
    display: inline-block;
    margin: 0 2em;
    padding: .5em;
    a {
      color: $lightGreen;
      &:hover {
        color: $mediumGray;
      }
    }
    &.active {
      border: $lightBlue solid 2px;
      a {
        color: $mediumGray;
      }
    }
  }
}

.photo-box {
  text-align: center;
}
.photo-frame {
  height: 250px;
  width: 250px;
  border: $darkGray solid 2px;
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-block;
  margin: 1em;
}

.photo-hover {
  height: 100%;
  width: 100%;
  background:none;
  background-position-x: center;
  background-position-y: center;
  @include transition-property(background);
  @include transition-duration(.4s);
  &:hover {
    background: $transparentGray url(/images/wedphotos/symbol/plus2.png) center center no-repeat;
  }
}

.photos-collapse-button {
  display: none;
}

// Set this for the couple page
@media screen and (max-width: $break-big) {
  [data-page="us"] {
    .photos-collapse-button {
      display: inline-block;
      float: right;
      margin-top: 1.5em;
      margin-right: 2em;
      @include clearfix();
    }
    .wed-photo-menu {
      display: none;
      &.open {
        display: block;
        text-align: left;
        float: none;
        clear: both;
        padding: 1em;
        >li {
          display: block;
          margin: 0 auto;
        }
      }
    }
  }
}
