<section class="details-ceremony">
  <h1>THE CEREMONY</h1>
  <h3>End of Marina Way, Penticton BC</h3>
  <div class="photo"></div>
  <div class="map"></div>
</section>

<section class="details-reception">
  <h1>THE RECEPTION</h1>
  <h3>133 Murray Drive, Penticton BC</h3>
  <div class="photo"></div>
  <div class="map"></div>
</section>

<section class="details-when">
  <aside>
    <h1>WHEN</h1>
    <h2>THE CEREMONY</h2>
    <h2>THE RECEPTION</h2>
  </aside>
  <div>
    <h1>AUGUST 16TH 2015</h1>
    <p></p>
    <p></p>
  </div>
</section>
