<div class="details container-fluid">
  <section class="details-when">
    <div class="row">
      <aside class="col-md-offset-2 col-md-3">
        <h1>When</h1>
      </aside>
      <article class="col-md-5">
        <h1>August 16TH 2015</h1>
      </article>
    </div>
    <div class="row">
      <aside class="col-md-offset-2 col-md-3">
        <h2>The Ceremony</h2>
      </aside>
      <article class="col-md-5">
        <p>The ceremony will commence around 3:00pm. It is expected to be short and sweet.
          <br>Followed by group photos
        </p>
      </article>
    </div>
    <div class="row">
      <aside class="col-md-offset-2 col-md-3">
        <h2>The Reception</h2>
      </aside>
      <article class="col-md-5">
        <p>The reception will consist of dinner, speeches, and dancing.
          <br>There will be nothing else
        </p>
      </article>
    </div>
  </section>

  <section class="details-where">
      <div class="row">
        <aside class="col-md-offset-2 col-md-8">
          <h1>Where</h1>
        </aside>
      </div>
    <section class="details-ceremony row">
      <div class="col-md-offset-2 col-md-8">
        <h2>The Ceremony</h2>
        <h3>End of Marina Way, Penticton BC</h3>
        <p>We have decided to have our wedding ceremony on the beautiful Okanagan Lake.
        The location is tucked away in the south east corner, on a sandy beach a few minutes walk down a trail.
        </p>
        <!-- <div class="details-photo-ceremony">
          IMAGE
          <img src="" alt="" />
        </div> -->
      </div>
    </section>
    <div class="map">
      <div id="ceremony-map"></div>
      <!-- <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2590.893492557607!2d-119.5831374!3d49.5054053!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54826262c362a43d%3A0x1b746132fe3c4e16!2s299+Marina+Way%2C+Penticton%2C+BC+V2A+1H5!5e0!3m2!1sen!2sca!4v1431208638228"
      width="800" height="500" frameborder="0" style="border:0">
      </iframe> -->
    </div>

    <section class="details-reception row">
      <div class="col-md-offset-2 col-md-8">
        <h2>The Reception</h2>
        <h3>133 Murray Drive, Penticton BC</h3>
        <p>We are holding the wedding reception at 133 Murray Drive which is where Kim's parents (Doug and Kathi) live.
          <br>It will have more of a family and friends backyard barbecue type feel to it.
        </p>
        <!-- <div class="details-photo-reception">
          IMAGE
          <img src="" alt="" />
        </div> -->
      </div>
    </section>
    <div class="map">
      <div id="reception-map"></div>
      <!-- <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2592.904691373402!2d-119.5896186!3d49.4674155!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x548289933cc433ed%3A0x1888396a50adb875!2s133+Murray+Dr%2C+Penticton%2C+BC+V2A+6W7!5e0!3m2!1sen!2sca!4v1431208333087"
      width="800" height="500" frameborder="0" style="border:0">
      </iframe> -->
    </div>
  </section>

  <section class="details-attire">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <h1>Dress Code</h1>
        <h2>Beach Formal (smart casual)</h2>
      </div>
    </div>
    <div class="details-clothes-container row">
      <img class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-3 col-md-offset-2 col-md-2" src="/images/details/guyattire1.jpg" alt="Guys Clothing Example">
      <img class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-3 col-md-2" src="/images/details/guyattire2.jpg" alt="Guys Clothing Example">
      <img class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-3 col-md-2" src="/images/details/girlattire1.jpg" alt="Girls Clothing Example">
      <img class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-3 col-md-2" src="/images/details/girlattire2.jpg" alt="Girls Clothing Example">
    </div>
  </section>
</div>
