<section class="hero">
  <ul class="nav navbar-nav">
    <li ng-class="{'active': isPage('us')}">
      <img src="" alt="" />
      <h1><blockquote>US</blockquote></h1>
    </li>
    <li ng-class="{'active': isPage('details')}">
      <img src="" alt="" />
      <h1><blockquote>Details</blockquote></h1>
    </li>
    <li ng-class="{'active': isPage('rsvp')}">
      <img src="" alt="" />
      <h1><blockquote>RSVP</blockquote></h1>
    </li>
    <li ng-class="{'active': isPage('proposal')}">
      <img src="" alt="" />
      <h1><blockquote>The Proposal</blockquote></h1>
    </li>
  </ul>

</section>
