<section class="hero">
  <ul class="hero-container-list">

    <li ng-class="{'active': isPage('us')}">
      <img src="images/hero/us.jpg" alt="" />
      <h1 id="hero-couple">Let's Do This Thing!!!</h1>
    </li>

    <li ng-class="{'active': isPage('details')}">
      <img src="images/hero/details.jpg" alt="" />
      <h1 id="hero-details">Details</h1>
    </li>

    <li ng-class="{'active': isPage('rsvp')}">
      <img src="images/hero/rsvp.jpg" alt="" />
      <h1 id="hero-rsvp">RSVP</h1>
    </li>

    <li ng-class="{'active': isPage('proposal')}">
      <img src="images/hero/proposal.jpg" alt="" />
      <h1 id="hero-proposal">The Proposal</h1>
    </li>

  </ul>

</section>
