<section class="hero">
  <img src="" alt="" />
  <h1><blockquote>Let's do this thing...</blockquote></h1>
</section>

<section class="the-couple">
  <article class="his-story">
    <figure>
      <img src="" alt="" />
      <figcaption>HIM</figcaption>
    </figure>
    <section class="bio"></section>
    <div class="bio-image him"></div>
  </article>
  <article class="her-story">
    <figure>
      <img src="" alt="" />
      <figcaption>HER</figcaption>
    </figure>
    <section class="bio"></section>
    <div class="bio-image her"></div>
  </article>
</section>

<section class="photo-gallery-container">
  <article class="photo-gallery">
    <nav>
      <h2>OUR SNAPS</h2>
      <ul>
        <li><a></a></li>
      </ul>
    </nav>
    <section class="photos">
      <article class="photo-box" ng-repeat=""></article>
    </section>
  </article>
</section>
