<section class="the-couple container-fluid">
  <div class="row">
    <article class="her-story 6 col-md-6">

      <figure>
        <img src="/images/us/her.png" alt="Kimberly - The Bride" />
      </figure>
      <figcaption>The Bride<br /><span>Kimberly Maria Young</span></figcaption>


  <!-- </div>
  <div class="row"> -->
      <section class="bio">
        <p>
          Hi! I’m Kim.
        <br />
          For those of you who may not know me so well,
          I am 25 years old and have lived in Penticton pretty much my entire life.
        </p>
        <p>
          I’m a very shy person,
          until you get to know me and then you’ll have a hard time getting me to keep quiet.
          I love reading, watching movies, and food!
          I also enjoy spending time with my family and friends who are a very important part of my life.
        </p>
        <p>
          I have a love for animals, which is pretty evident for anyone who has seen me with my dog Jersey.
          I hate spiders, small spaces, and when people sneeze (it drives me up the wall).
          Brenton is my best friend and I couldn’t be more excited to be marrying him this summer.
        </p>
        <p class="pull-right">
          I like him a lot --&gt;
        </p>
      </section>
      <div class="bio-image her"></div>
    </article>

    <article class="his-story col-md-6">

      <figure>
        <img src="/images/us/him.png" alt="Brenton - The Groom" />
      </figure>
      <figcaption>The Groom<br /><span>Brenton Ian Holswich</span></figcaption>


      <section class="bio">
        <p>Hi I'm Brenton,<br />I was born in Sydney, NSW Australia and am 27 years old.
          I moved around a bit while growing up. I have lived in Sydney New South Wales, Sunshine Coast Queensland,
          as well as Gold Coast Queensland. Once I finished my schooling on the Gold Coast in 2005 it took
          me 6 months to make my way back down to Sydney.
        </p>
        <p>I came out from Australia in 2009 to do a ski season in Lake Louise Alberta. A few of the boys
          who I lived and worked with decided to come out to Penticton, British Columbia for the Summer of 2010.
        </p>
        <p>I met Kim in the first week of being in town, at the local watering hole "The Parrot". The boys
          and I were throwin' down a few quarters in some drinking games when I decided in my infinite wisdom
          to venture over and slur my way to victory by getting Kim and her friends to play quarters.
        </p>
        <p>
          - I won.
        </p>
        <p> &lt;-- I like her a lot</p>
      </section>
  <!-- </div>

  <div class="row"> -->
      <div class="bio-image him"></div>
    </article>
  </div>

</section>

<!-- <div class="us-page"> -->

  <div data-page="us" wed-photos></div>
<!-- </div> -->
