<section class="hero">
  <img src="" alt="" />
  <h1><blockquote>Let's do this thing...</blockquote></h1>
</section>

<section class="the-couple">
  <article class="his-story">
    <figure>
      <img src="" alt="" />
      <figcaption>HIM</figcaption>
    </figure>
    <section class="bio"></section>
  </article>
  <article class="her-story">
    <figure>
      <img src="" alt="" />
      <figcaption>HER</figcaption>
    </figure>
    <section class="bio"></section>
  </article>
</section>

<section class="photo-gallery-container">
  <article class="photo-gallery">

  </article>
</section>
