<!-- Collapsible Navbar for mobile -->
<div class="row">
  <button ng-click="toggleNav()" class="btn btn-default btn-lg navbar-collapse-button">&#x2630;</button>
  <!-- Standard Nav -->
  <ul class="nav navbar-nav">
    <li><a href="#/us" ng-class="{'current': isPage('us')}">THE COUPLE</a></li>
    <li><a href="#/details" ng-class="{'current': isPage('details')}">THE DETAILS</a></li>
    <li><a href="#/rsvp" ng-class="{'current': isPage('rsvp')}">RSVP</a></li>
    <li><a href="#/proposal" ng-class="{'current': isPage('proposal')}">THE PROPOSAL</a></li>
  </ul>
</div>
