<section class="photo-gallery-container">
  <article class="photo-gallery">
    <nav>
      <h2>OUR SNAPS</h2>
      <ul>
        <li><a>All</a></li>
        <li><a>Our STD's</a></li>
        <li><a>Couch Fun</a></li>
        <li><a>Lake Day</a></li>
        <li><a>Our Journey</a></li>
      </ul>
    </nav>
    <section class="photos">
      <article class="photo-box">
        <photo category="" ng-repeat="">
          <!-- <div class="photo-container">
            <img src="" alt="" />
            <span class="photo-overlay">+</span>
          </div> -->
        </photo>
      </article>
    </section>
  </article>
</section>
