<section class="proposal-stories">
  <article class="proposal-her">
    <h1>Kim's Version of Events</h1>
    <p>
      I remember getting a text from Brenton while I was at work asking if I wanted to go out for dinner
      to celebrate my first full month of work at the hospital.
      I thought it was sweet and never being one to turn down not having to cook I said yes.
      When I got home and started to get ready I sensed something was off with Brenton,
      he was always checking his phone which is quite unusual for him.
      Just before we headed out the door I noticed this camera sitting by the TV.
      I went over and quickly inspected Brenton’s new toy and made sure to turn it around when I put it
      back because I didn’t like the idea of it “watching me”. At dinner everything seemed alright,
      other than Brenton still constantly checking his phone.
      After a nice evening out it was time to head home.
      When I opened up the door to our place I saw our table covered with candles,
       petals, and our initials with a love heart.
       I was so surprised,
       Brenton must have gotten one of his friends to come over and set up our place while we were out,
       how romantic! ...This is where it gets a little blurry for me.
       I think I turned around at this point to find Brenton on one knee with a ring in his hand.
       I was stunned! This must be a joke, he couldn't possibly be proposing.
       Then from the corner of my eye I see my best friend Crystal filming me with her phone!
       Thats when I knew this was real,
       because Crystal would never let Brenton play a joke like that on me and go along with it.
       I start crying.
       Thinking this whole time my answer was pretty obvious and as more  people start pouring out
       of every doorway in our place, I become completely overwhelmed and forget about poor Brenton
       who is still waiting for my answer. Eventually I managed to pull myself back into the moment
       and say <strong>YES!</strong>
    </p>
  </article>
  <article class="proposal-his">
    <h1>Brenton's Version of Events</h1>
    <p>
      This story starts back in November of 2013, I was down in California to see my Dad and Deb.
      Kim was unable to make it due to her new job in the hospital.
      I knew on this trip I was going to be ring shopping and so I had all my money saved up
      with no idea in what I was looking to buy.
    </p>
    <p>
      I went out to the store where I ended up getting the ring from and looked through all of their
      selection which was quite large. There were two rings that appealed to me.
      Both, in my opinion were beautiful but then the clerk explained the meaning behind what ended up
      being Kim’s ring.
      This made my choice really easy with it being divided into three parts representing past,
      present and future.
    </p>
    <p>
      On November 29th, after saying goodbye to Dad and Deb I headed home, direct to Kelowna.
      Going through the customs check I was randomly checked.
      Turns out you need to say that you are bringing things you have purchased out of country.
      I didn’t know this since I didn’t declare anything I originally brought into Canada from Australia.
      I was fined $800+ for bringing a ring into the country and let through to see Kim.
    </p>
    <p>
      I was rattled to say the least. I had just lost $800 to a customs fine.
      I put on my happy face and went out the door to see Kim and Doug.
      Kim noticed I was a little down and so I told her that I got a fine of $800 for bringing
      Vegemite in without declaring it.
    </p>
    <p>
      This little white lie was grinding at me every day and my plan to propose in the new year got a
      rush job to December 4th.
      I started planning what I wanted to do, I liked the idea of a surprise proposal party.
      I dropped the hint to Kim that on her final day of her first month of work I wanted to take her
      out to dinner to celebrate the achievement.
      On December 3 I told Crystal and Morgan what I was planning and they began helping me organise
      it as I invited people around for a surprise party.
    </p>
    <p>
      The day of I let Kim know I had reserved a table at earls for 7pm.
      I wanted to record it so I went and bought a sony handycam.
      Charged it and put it in position. Not recording but lined it up so I could tap record on the
      way out the door. I also set my laptop up and pretended that I was coding a website.
      Kim got ready and as we were going out the door I had to go back in to grab my “phone”.
      I noticed that Kim had turned the camera around facing the wall from being in the right position.
      I quickly lined it up and turned it on. I turned on the laptops camera too and went out to dinner.
    </p>
    <p>
      I had forgotten to let Crystal know that we had left so she got in half hour after us leaving.
      I had put decorations I had bought that day in the study.
      Things like balloons, candles and flower petals as well as a big “B (loveheart) K”.
      I was getting the nervous butterflies during dinner and checked in with Crystal to see how it was going.
      Kim asked who I was texting and I am sure I responded in a suspicious way.
      By the way a ring in a box in your pocket has the weight of the world when you are planning to pop
      the question. After dinner I went to the washroom to tell Crystal we were on our way.
    </p>
    <p>
    We got home and Kim opened the door to a table setting that was really beautiful,
    I get blurry here but I quickly turned the light on and dropped to one knee and asked Kim
    “The Question”. She promptly responded with YES…
    and by promptly I mean to say that she asked me if I was serious and then looked around seeing
    familiar faces coming out of every corner of the room.
    </p>
    <p>
    Without too much more delay I head a resounding <strong>Yes!</strong>
    </p>
  </article>
</section>

<section class="proposal-video">
  <!-- youtube embedded video -->
  <iframe
  width="560"
  height="315"
  src="https://www.youtube.com/embed/HrNtYkumet4"
  frameborder="0"
  allowfullscreen>
  </iframe>
</section>

<div wed-photos data-cat-id='4'></div>
