<!-- Use the funny template that kim had found and make it digital -->

<!-- action="rsvp-post.php"
method="post" -->
<section class="rsvp-container container-fluid">
  <form id="rsvp-form" ng-hide="submitSuccess" ng-submit="formPost()">
    <div class="row">
      <div class="form-group col-xs-offset-3 col-xs-6">
        <label for="name">What's Your Full Name?</label>
        <input
        class="form-control"
        type="text"
        name="name"
        ng-model="frm.name"
        id="name"
        placeholder="eg. Brenton Holswich"
        required>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-offset-3 col-md-6">
        <label for="number">Replying for how many?</label>
        <input
        class="form.control"
        type="number"
        ng-model="frm.number"
        name="number"
        id="number"
        min="1"
        max="9"
        required>
      </div>
    </div>

    <!-- Use ngShow as well as testing how many guests are being replied for to show the next element -->
    <div class="row" ng-show="num()">
      <div class="form-group col-md-offset-3 col-md-6">
        <label for="group-name">What Are Their Full Names?</label>
        <input
        type="textarea"
        ng-model="frm.groupName"
        name="group-name"
        id="group-name"
        class="form-control"
        placeholder="eg. Kimberly Young, Jersey Dog"
        >
      </div>
    </div>

    <!-- <div class="form-group radio"> -->
      <div class="row">
        <div class="col-md-offset-3 col-md-3">
          <label for="item1">Gladly Attend:</label>
          <input type="radio" name="item1" ng-model="frm.response" value="Gladly Attend" id="response" class="form-control">
        </div>
        <div class="col-md-3">
          <label for="item2">Regretfully Decline:</label>
          <input type="radio" name="item2" ng-model="frm.response" value="Regretfully Decline" id="response" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-md-offset-3 col-md-3">
          <label for="item3">Resentfully Attend:</label>
          <input type="radio" name="item3" ng-model="frm.response" value="Resentfully Attend" id="response" class="form-control">
        </div>
        <div class="col-md-3">
          <label for="item4">Enthusiastically Decline:</label>
          <input type="radio" name="item4" ng-model="frm.response" value="Enthusiastically Decline" id="response" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-md-offset-3 col-md-3">
          <label for="item5">Will Decline To Respond, But Ultimately Attend:</label>
          <input type="radio" name="item5" ng-model="frm.response" value="Will Decline To Respond, But Ultimately Attend" id="response" class="form-control">
        </div>
      </div>
    <!-- </div> -->


    <div class="row">
      <div class="form-group col-md-offset-3 col-md-6">
        <label for="song">What song will get you dancing?</label>
        <input type="text" name="song" ng-model="frm.song" id="song" class="form-control" placeholder="Type your song choice here" required>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-offset-3 col-md-6">
        <label for="little-message">Little message to the bride and groom. . .</label>
        <input type="textarea" name="little-message" ng-model="frm.littleMessage" id="little-message" class="form-control">
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-7 col-md-3">
        <button type="submit" class="btn btn-default btn-lg">Reply To Us</button>
      </div>
    </div>
  </form>
  <div class="row">
    <div class="col-md-offset-3 col-md-7">
      <p>FOR ANY QUESTION PLEASE EMAIL: <a href="mailto:kimandbrenton@gmail.com">kimandbrenton@gmail.com</a></p>
    </div>
  </div>
</section>
