<section class="wed-photos">
    <nav>
      <h2>OUR SNAPS</h2>
      <ul>
        <!-- Make a reset function for the all button -->
        <li ng-click="reset()" ng-class="{'active': isAll()}"><a href="" >ALL</a></li>
        <li
        ng-repeat="category in photoset.categories"
        ng-class="{'active': isActive(category)}"
        ng-click="setCategory(category)">
          <a href="">
            {{category.name}}
          </a>
        </li>
      </ul>
    </nav>
    <section class="photos">
      <article class="photo-box">
        <a
        ng-repeat="photo in photoset.photos | categoryFilter:photoset.category"
        data-lightbox="{{photo.id}}"
        ng-href="{{photo.url}}"
        >
          <img
          ng-src="{{photo.thumbUrl}}"
          />
        </a>

      </article>
    </section>
</section>
