<section class="wed-photos">
    <nav>
      <h2>{{photoset.category.name || "OUR SNAPS"}}</h2>
      <ul>
        <!-- Make a reset function for the all button -->
        <li ng-click="reset()" ng-class="{'active': isAll()}"><a href="" >ALL</a></li>
        <li
        ng-repeat="category in photoset.categories"
        ng-class="{'active': isActive(category)}"
        ng-click="setCategory(category)">
          <a href="">
            {{category.name}}
          </a>
        </li>
      </ul>
    </nav>
    <article class="photo-box">

      <a
      ng-repeat="photo in photoset.photos | categoryFilter:photoset.category"
      data-lightbox="our-album"
      ng-href="{{photo.url}}"
      class="photo-frame"
      style="background-image: url({{photo.thumbUrl}})"
      >
        <div class="photo-hover">
        </div>
      </a>

    </article>
</section>
